body {
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* @media only screen and (min-width: 1140px) {
    body {
        background-image: url(images/pattern-background-desktop.svg);
        background-color: hsl(225, 100%, 94%);
    }
} */

@media only screen and (max-width: 375px) {
    body {
        background-image: url(images/pattern-background-mobile.svg);
        background-color: hsl(225, 100%, 94%);
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 665px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 15px 10px hsl(225, 42%, 79%);
}


h1 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    text-align: center;
}

h2 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: hsl(223, 47%, 23%);
}

p {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:  hsl(224, 23%, 55%);
}

img {
    border-radius: 20px 20px 0 0;
}


.order-summary p {
    text-align: center;
    width: 300px;
    height: 50px;
    line-height: 25px;
    margin: 5px 0 20px 0;
    padding: 0 0 30px 0;
}

.plan-chosen {
    display: flex;
    /* display: inline-block; */
    /* justify-content: space-between; */
    /* justify-content: baseline; */
    width: 350px;
    height: 90px;
    padding: 5px 0 5px 0;
    margin-bottom: 20px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 15px;
}

.plan-chosen img {
    padding: 5px 0 0 20px;
    align-self: center;
}

.plan-chosen .plan-version {
    line-height: 10px;
    padding: 5px 90px 0 20px;
    align-self: center;
}


.plan-chosen a {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    color: hsl(245, 75%, 52%);
    align-self: center;
}

.plan-chosen a:hover {
    color: hsl(245, 52%, 65%);
}


.button {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;;
    font-weight: 900;
    color: white;
    background-color: hsl(245, 75%, 52%);
    border: none;
    width: 350px;
    height: 55px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px hsl(225, 42%, 79%);
}

.button:hover {
    background-color: hsl(245, 52%, 65%);
}

.cancel-order {
    font-family: 'Red Hat Display', sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: 900;
    color:hsl(224, 23%, 55%);
    margin: 30px 0 20px 0;
}

.cancel-order:hover {
    color:hsl(223, 47%, 23%);
}
